<%= link_to(edit_todo_list_path(todo_list)) do %>  
  <div class="list_current">

    <%= form_for(todo_list) do |f| %>

      <!-- Bootstrap checked button. -->
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
        </label>
      </div>
    <% end %>

    &nbsp|&nbsp
    <%= todo_list.action_item %>
    
    

    <!-- Add form checkbox here -->
    &nbsp|&nbsp
    <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, todo_list, class: "btn btn-danger center block", method: :delete, data: { } %>
  </div>
  

<% end %> 

<hr>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
  </label>
</div>
<hr>

<!-- #f.label :action_complete -->
<% todo_list.action_complete %>
<% todo_list.action_item %>