<h1>Editing Todo List</h1>

<div class="container">   

  <div class="row">
    <%= render 'formEdit' %>
  </div> 

  <div class="center">
    <%= link_to 'Show', @todo_list %> |
    <%= link_to 'Back', todo_lists_path %>
  </div>  

</div>
