
<h1> My To Do List </h1>
<!-- To Do List Index Page -->
<div class="container">
  
  <!-- Show the list of ToDo Items.-->
  <div class="row">    
    <div id="ToDoItems--form">
      <%= render 'formSave' %>
    </div>    
  </div>


<!-- Show the list of ToDo Items.-->

  <div class="row">
    <div id="ToDoItems--list">
      <%= render @todo_lists %> 
    </div>
  </div>

</div>  